body {
    background-image: url('../bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-weight: 550;
}


.alert-invisible {
    display: none;
    visibility: hidden;
}

.alert-visible {
    display: inline-block;
    visibility: visible;
}